body {
    margin: 0;

}

header {
    background-color: #2e82f7;
    height: 80px;
    display: flex;
    align-items: center;
}

main {
    padding-top: 10px;
    background-color: rgb(109, 209, 239);
    min-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

footer {
    background-color: #696969;
    height: 100px;
}
