

header img {
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.book_Container {
    background-color: azure;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

}

.book_Container h2 {
    margin: 5px;
    text-align: center;
}

.book_Title  {
    margin: 5px;
    text-align: center;
}

.book_Image {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: tomato;
}

.book_Price_Like {
    padding: 8px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .heart::before {
    content: '\2665';
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px red;
    transition: all 0.2s ease;;
  }

  .heart.active::before {
    color: red;
    -webkit-text-stroke: 2px red;

  }

  .like_Container {
    display: flex;
    align-items: center;
  }

.book_Description {
    background-color: lightseagreen;
}