

header img {
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.book_Container {
    background-color: rgb(16, 80, 99);
    border-radius: 5px;
    box-shadow: 1px 3px 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

}

.book_Container h2 {
    margin: 5px;
    text-align: center;
}

.book_Title  {
    margin: 5px;
    text-align: center;
}

.book_Image {
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(111, 171, 193);
    margin: 0;
    padding: 0;
    background-color: tomato;
}

.book_Price_Like {
    padding: 8px;
    background-color: rgb(10, 57, 74);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .heart::before {
    content: '\2665';
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px red;
    transition: all 0.2s ease;;
  }

  .heart.active::before {
    color: red;
    -webkit-text-stroke: 2px red;

  }

  .like_Container {
    display: flex;
    align-items: center;
  }

.book_Description {
    background-color: rgb(10, 57, 74);
    padding: 8px;
    border-bottom: 2px solid rgb(111, 171, 193);
}

.book_Comments {
    padding: 8px;
    background-color: rgb(10, 57, 74);
    max-height: 80px;

}

.overflowed::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(1, 25, 37);
    border-radius: 5px;
}

.overflowed::-webkit-scrollbar-thumb {
    background-color: rgb(122, 195, 218);
    width: 10px;
    border-radius: 5px;
}

.overflowed {
    overflow: auto;
    max-height: 80px;
}

.book_Comments h3 {
    margin: 0;
}

.book_Add_Comment {
    display: flex;
    padding: 8px;
    gap: 8px;
    background-color: blueviolet;
}

.add_Comment_input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(134, 159, 234, 1);
    border-radius: 2px;
    background-color: rgb(16, 80, 99);
    font-size: 18px;
}

.add_Comment_input::placeholder {
    color: black;
    font-size: 18px;
}

.book_Add_Comment button {
    border: none;
    background-color: transparent;
}

.price_Tag {
    color: rgb(238, 110, 102);
}